*l.o
*.elf
*.img
/main.o
**.o
/.vs/ProjectSettings.json
/.vs/**
/kernel8.lst
/kernel8.map
/kernel7**
pi2**
/Config.mk
/pi/**
/sdcard/**

/.vscode/settings.json
/.vscode/**
/build/**
all

/_build/**
/build_/**
/out/**
/_sdcard/**
**.orig
